* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto';
}

#bcg-img {
    width: 625px;
    background-image: url(Images/Stormtrooper.png);
    background-size: cover;
    background-position: center;
}

#main-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header, form + div {
    flex-grow: 2;
}

form {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.group > div {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.group > div:nth-child(odd) {
    margin-bottom: 20px;
}

h2, header {
    font-size: 1.45rem;
    font-weight: 800;
}

header {
    display: flex;
    align-items: flex-end;
    padding: 0 50px 40px 60px;
}

input {
    width: 275px;
    height: 3.25ch;
    font-size: 1.04rem;
    padding: 7.5px 10px;
}

label {
    font-size: 1.04rem;
}

form + div {
    font-size: 1.04rem;
    padding: 25px 0 42px 60px;
}

button {
    width: 220px;
    padding: 10px 0;
    margin-bottom: 25px;
    font-size: 1.04rem;
    font-weight: 700;
    border-width: 0;
    border-radius: 9px;
}


