@font-face {
    font-family: 'StarWars';
    src: url(font/STJEDISE.TTF);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

#bcg-img {
    width: 550px;
    background-image: url(Images/Stormtrooper.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.75rem;
    font-family: 'StarWars', 'Times New Roman', Times, serif;
    height: 100px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    padding: 0 10px;
}

#logo div {
    height: 80px;
    width: 80px;
    margin-left: 5px;
    background-image: url(Images/EmpireLogo.svg);
    background-size: cover;
    background-position: center;
}

#credit {
    padding: 10px 0;
    color: white;
    align-self: center;
    font-size: 0.65rem;
    opacity: 0.65;
}

a {
    color: white;
}

#main-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header, form + div {
    flex-grow: 2;
    background-color: rgba(209,202,187,255);
}

form {
    background-color: rgba(223,215,198,255);
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.group > div {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.title {
    margin-top: 20px;
}

.group > div:nth-child(odd) {
    margin-bottom: 20px;
}

h2, header {
    font-size: 1.5rem;
    font-weight: 1000;
}

header {
    display: flex;
    align-items: flex-end;
    padding: 0 50px 40px 60px;
}

input {
    width: 275px;
    height: 3.5ch;
    font-size: 1rem;
    padding: 7.5px 10px;
    border-radius: 4.5px;
    border: 1.75px solid rgba(162,149,125, 0.4);
    background-color: rgba(223,215,198,255);
    color: rgba(56,47,32,255);
}

label {
    font-size: 1rem;
    letter-spacing: 0.175ch;
    font-weight: 700;
    color: rgba(56,47,32,255);
}

form + div {
    font-size: 1rem;
    padding: 25px 0 42px 60px;
}

form + div > p {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 10px;
}

button {
    width: 220px;
    padding: 10px 0;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border-width: 0;
    border-radius: 9px;
    color: rgba(233,231,224,255);
    background-color: rgba(200,116,74,255);
    box-shadow: 4px 4px 5px rgba(138,131,117,255);
}

label[for='phone'] span {
    font-size: 0.75rem;
    font-weight: 1000;
    font-style: italic;
    color: rgb(134, 57, 27);
    padding: 0 5px;
    margin: 0 5px;
}

input + span {
    position: relative;
}

input:focus {
    border: 2.25px solid rgb(37, 150, 190);
    box-shadow: 3px 4px 4px rgba(138,131,117,0.4);
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2.25px solid rgba(193,59,55);
}

input:valid {
    border: 2.25px solid green;
}

input:invalid:not(:focus):not(:placeholder-shown) + span::after {
    position: absolute;
    top: 1px;
    left: 3px;
    content: 'Entered input is not valid';
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(193,59,55);
}

input:invalid:not(:focus):not(:placeholder-shown) + span::before {
    position: absolute;
    bottom: 6.5px;
    right: 4px;
    content: '⚠️';
}

input:valid + span::before {
    position: absolute;
    bottom: 6.5px;
    right: 4px;
    content: '✔️';
}

#pwd:focus + span::after {
    position: absolute;
    top: 1px;
    left: 3px;
    content: 'Must contain upper,lower & number characters';
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(56,47,32,255);
}

#pwd:invalid:not(:focus):not(:placeholder-shown) + span::after {
    position: absolute;
    top: 1px;
    left: 3px;
    content: "Entered password doesn't meet requirements";
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(193,59,55);
}

#pwd:invalid:not(:focus):not(:placeholder-shown) {
    border: 2.25px solid rgba(193,59,55);
}

#phone:valid:placeholder-shown {
    border: 1.75px solid rgba(162,149,125, 0.4);
}

#phone:valid:focus {
    border: 2.25px solid rgb(37, 150, 190);
}

#phone:valid:placeholder-shown + span::before {
    content: '';
}


@media (min-width: 1200px) and (max-width: 1320px) {
    form {
        align-items: center;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 80px;
    }

    h2 {
        margin-right: 80px;
    }

    header {
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 0 0;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    input:valid + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    #pwd:focus + span::after {
        top: 3.5px;
        left: -135px;
        width: 250px;
    }

    #pwd:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
        width: 250px;
    }
}


@media (min-width: 950px) and (max-width: 1200px) {
    form {
        align-items: center;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 80px;
    }

    h2 {
        margin-right: 80px;
    }

    header {
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 0 0;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    input:valid + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    #pwd:focus + span::after {
        top: 3.5px;
        left: -135px;
        width: 250px;
    }

    #pwd:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
        width: 250px;
    }
}

@media (max-width: 950px) {
    form {
        align-items: center;
        padding-right: 60px;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 0;
    }

    header {
        padding-top: 20px;
        justify-content: center;
        text-align: center;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    input:valid + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    #pwd:focus + span::after {
        top: 3.5px;
        left: -135px;
        width: 250px;
    }

    #pwd:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
        width: 250px;
    }
}

@media (min-width: 480px) and (max-width: 750px) {
    form {
        align-items: center;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 0px;
        padding: 0 50px;
    }

    h2 {
        margin-right: 0px;
    }

    header {
        padding-top: 20px;
        justify-content: center;
        text-align: center;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0px 0 0;
    }

    #bcg-img {
        display: none;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    input:valid + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    #pwd:focus + span::after {
        top: 3.5px;
        left: -135px;
        width: 250px;
    }

    #pwd:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
        width: 250px;
    }
}

@media (max-width: 480px) {
    body {
        flex-direction: column;
    }

    #bcg-img {
        display: none;
    }

    header {
        padding: 15px 15px;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
    }

    input:invalid:not(:focus):not(:placeholder-shown) + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    input:valid + span::before {
        bottom: 6.5px;
        left: 110px;
    }

    #pwd:focus + span::after {
        top: 3.5px;
        left: -135px;
        width: 250px;
    }

    #pwd:invalid:not(:focus):not(:placeholder-shown) + span::after {
        top: 1px;
        left: -135px;
        width: 250px;
    }
}
