@font-face {
    font-family: 'StarWars';
    src: url(font/STJEDISE.TTF);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    min-height: 100vh;
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto';
}

#bcg-img {
    width: 625px;
    background-image: url(Images/Stormtrooper.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.75rem;
    font-family: 'StarWars';
    height: 100px;
    color: black;
    background-color: rgba(255,255,255,0.5);
    padding: 0 10px;
}

#logo div {
    height: 80px;
    width: 80px;
    margin-left: 5px;
    background-image: url(Images/EmpireLogo.svg);
    background-size: cover;
    background-position: center;
}

#main-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header, form + div {
    flex-grow: 2;
    background-color: rgba(209,202,187,255);
}

form {
    background-color: rgba(223,215,198,255);
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.group > div {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.title {
    margin-top: 20px;
}

.group > div:nth-child(odd) {
    margin-bottom: 20px;
}

h2, header {
    font-size: 1.5rem;
    font-weight: 1000;
}

header {
    display: flex;
    align-items: flex-end;
    padding: 0 50px 40px 60px;
}

input {
    width: 275px;
    height: 3.5ch;
    font-size: 1rem;
    padding: 7.5px 10px;
    border-radius: 4.5px;
    border: 1.75px solid rgba(162,149,125, 0.4);
    background-color: rgba(223,215,198,255);
}

label {
    font-size: 1rem;
    letter-spacing: 0.175ch;
    font-weight: 700;
    color: rgba(56,47,32,255);
}

form + div {
    font-size: 1.04rem;
    padding: 25px 0 42px 60px;
}

form + div > p {
    font-weight: 700;
    font-size: 1rem;
}

button {
    width: 220px;
    padding: 10px 0;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border-width: 0;
    border-radius: 9px;
    color: rgba(233,231,224,255);
    background-color: rgba(200,116,74,255);
    box-shadow: 4px 4px 5px rgba(138,131,117,255);
}


@media (min-width: 950px) and (max-width: 1200px) {
    form {
        align-items: center;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 80px;
    }

    h2 {
        margin-right: 80px;
    }

    header {
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 0 0;
    }
}

@media (max-width: 950px) {
    form {
        align-items: center;
        padding-right: 60px;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 0;
    }

    header {
        padding-top: 20px;
        justify-content: center;
        text-align: center;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
    }
}

@media (min-width: 480px) and (max-width: 750px) {
    form {
        align-items: center;
    }

    .group {
        justify-content: center;
    }

    .group > div {
        align-items: center;
        margin-right: 80px;
    }

    h2 {
        margin-right: 80px;
    }

    header {
        padding-top: 20px;
        justify-content: center;
        text-align: center;
    }

    form + div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 0 0;
    }

    #logo {
        display: none;
    }
}

